*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Fira Sans";
  color: #212529;
  font-size: 1.6rem; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d4668d;
  color: #fbf1f5;
  padding: 0 8vw; }
  .navigation__list {
    font-size: 1.8rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .navigation__list > * {
      position: relative; }
      .navigation__list > * .hover__list {
        display: none;
        position: absolute;
        list-style: none;
        top: calc(100% - 8px);
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(248, 249, 250, 0.9);
        padding: 0.8rem 3.2rem;
        color: #212529; }
      .navigation__list > * .hover__item {
        margin: 1.6rem 0;
        transition: all 0.3s;
        text-wrap: nowrap; }
        .navigation__list > * .hover__item:hover {
          color: #d4668d; }
      .navigation__list > *::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 8px;
        height: 2px;
        width: 0;
        transform: translateX(-50%);
        background-color: #faeef2;
        transition: width 0.3s; }
      .navigation__list > *:hover::before {
        width: 75%; }
      .navigation__list > *:hover .hover__list {
        display: block;
        transition: all 0.3s; }
  .navigation__item {
    padding: 1.6rem 3.2rem;
    position: relative; }
  .navigation__link {
    text-decoration: none;
    color: #fbf1f5; }
  .navigation__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    padding: 1.6rem 3.2rem; }
  .navigation__icon-link {
    text-decoration: none;
    color: #fbf1f5;
    transition: 0.2s all;
    padding: 0.8rem 0rem; }
    .navigation__icon-link:hover {
      color: #faeef2; }
      .navigation__icon-link:hover .navigation__icon {
        transform: translateY(-2px); }
  .navigation__icon {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    fill: currentColor;
    transition: 0.2s all; }

/*
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
.section__hero {
  background-color: #fefefe;
  padding: 8vh 8vw; }
  .section__hero .hero__box {
    display: flex;
    height: 80vh;
    justify-content: space-between;
    align-items: center; }
  .section__hero .hero__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Libre Franklin"; }
  .section__hero .hero__tertiary {
    margin-bottom: 1.2rem;
    letter-spacing: 2px;
    font-size: 1.5rem; }
  .section__hero .hero__primary {
    margin-bottom: 3.2rem;
    font-size: 4.4rem;
    letter-spacing: 1px; }
  .section__hero .hero__img--box {
    height: 90%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr); }
    .section__hero .hero__img--box .hero__img {
      height: 100%;
      width: 100%; }
      .section__hero .hero__img--box .hero__img--2 {
        grid-column: 5 / 8;
        grid-row: 1 / 6;
        z-index: 2; }
      .section__hero .hero__img--box .hero__img--1 {
        grid-column: 1 /6;
        grid-row: 2 / 9; }

.section__heading {
  width: 40%;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.6rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.2rem;
  font-style: italic; }
  .section__heading::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #212529;
    width: 100%; }
  .section__heading::before {
    content: "";
    display: block;
    height: 2px;
    background-color: #212529;
    width: 100%; }

.section__heading--italic {
  font-style: italic;
  text-align: center;
  margin-top: 0.6rem;
  font-family: "Libre Franklin";
  color: #aaa;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 4.8rem; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #f1f3f5;
  background-color: #212529;
  padding: 1.6rem 2.8rem;
  align-self: flex-start;
  font-weight: 500;
  transition: all 0.3s;
  font-style: italic; }

.btn--yellow:hover, .btn--yellow:active {
  background-image: linear-gradient(120deg, #fab005, #fff9db);
  color: #fff; }

.btn--pink:hover, .btn--pink:active {
  font-style: italic;
  background-image: linear-gradient(120deg, #c2255c, #da7c9d);
  color: #f1f3f5; }

.btn--round:link, .btn--round:visited {
  border-radius: 30px;
  padding: 1.6rem 4.8rem;
  margin: 6.4rem auto 0 auto; }

.logo__link:link, .logo__link:visited {
  font-style: italic;
  display: inline-block;
  font-size: 4.4rem;
  text-decoration: none;
  font-family: "Libre Franklin";
  padding: 1.2rem 3.2rem;
  transition: 0.4s all;
  color: transparent;
  background-image: linear-gradient(120deg, #fab005, #fff9db);
  background-clip: text; }

.logo__link:hover, .logo__link:active {
  background-image: linear-gradient(135deg, #fab005, #fff3bf); }

.section__heading {
  width: 40%;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.6rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.2rem;
  font-style: italic; }
  .section__heading::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #212529;
    width: 100%; }
  .section__heading::before {
    content: "";
    display: block;
    height: 2px;
    background-color: #212529;
    width: 100%; }

.section__heading--italic {
  font-style: italic;
  text-align: center;
  margin-top: 0.6rem;
  font-family: "Libre Franklin";
  color: #aaa;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 4.8rem; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #f1f3f5;
  background-color: #212529;
  padding: 1.6rem 2.8rem;
  align-self: flex-start;
  font-weight: 500;
  transition: all 0.3s;
  font-style: italic; }

.btn--yellow:hover, .btn--yellow:active {
  background-image: linear-gradient(120deg, #fab005, #fff9db);
  color: #fff; }

.btn--pink:hover, .btn--pink:active {
  font-style: italic;
  background-image: linear-gradient(120deg, #c2255c, #da7c9d);
  color: #f1f3f5; }

.btn--round:link, .btn--round:visited {
  border-radius: 30px;
  padding: 1.6rem 4.8rem;
  margin: 6.4rem auto 0 auto; }

.logo__link:link, .logo__link:visited {
  font-style: italic;
  display: inline-block;
  font-size: 4.4rem;
  text-decoration: none;
  font-family: "Libre Franklin";
  padding: 1.2rem 3.2rem;
  transition: 0.4s all;
  color: transparent;
  background-image: linear-gradient(120deg, #fab005, #fff9db);
  background-clip: text; }

.logo__link:hover, .logo__link:active {
  background-image: linear-gradient(135deg, #fab005, #fff3bf); }

.section__introduction {
  background-color: #fefefe;
  padding: 8vh 8vw;
  display: grid;
  grid-template-columns: repeat(10, minmax(min-content, 20rem));
  grid-template-rows: repeat(2, minmax(max-content, 10rem));
  gap: 2.4rem; }
  .section__introduction .introduction__figure {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden; }
    .section__introduction .introduction__figure:hover img {
      transform: scale(1.1); }
  .section__introduction .introduction__img {
    height: 100%;
    width: 100%;
    transition: all 0.4s; }
  .section__introduction .introduction__btn {
    position: absolute;
    z-index: 1;
    top: 85%;
    left: 50%;
    padding: 1.6rem 3.2rem;
    transform: translate(-50%, -50%); }
  .section__introduction .figure--1 {
    grid-row: 1 / -1;
    grid-column: 1 / 5; }
  .section__introduction .figure--2 {
    grid-row: 1 / 2;
    grid-column: 5 /8; }
  .section__introduction .figure--3 {
    grid-row: 2 / 3;
    grid-column: 5 /8; }
  .section__introduction .figure--4 {
    grid-row: 1 / 3;
    grid-column: 8 /11; }

/*
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
.section__products {
  background-color: #fefefe;
  padding: 8vh 8vw;
  text-align: center; }
  .section__products .products {
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    grid-auto-rows: minmax(max-content, 60rem);
    grid-template-columns: repeat(auto-fit, minmax(35rem, max-content));
    grid-template-rows: repeat(auto-fit, minmax(max-content, 60rem));
    gap: 2.4rem 9rem;
    margin: 3.2rem 0 4.8rem; }
    .section__products .products .product {
      position: relative;
      height: 100%;
      width: 100%;
      display: grid;
      background-position: start;
      background-size: cover;
      grid-template-rows: repeat(auto-fit, minmax(30rem, 40rem));
      transition: all 0.5s; }
      .section__products .products .product--1 {
        background-image: url("../img/img__ (4).jpg"); }
        .section__products .products .product--1:hover {
          background-image: url("../img/img__ (5).jpg"); }
      .section__products .products .product--2 {
        background-image: url("../img/img__ (8).jpg"); }
        .section__products .products .product--2:hover {
          background-image: url("../img/img__ (1).jpg"); }
      .section__products .products .product--3 {
        background-image: url("../img/img__ (3).jpg"); }
        .section__products .products .product--3:hover {
          background-image: url("../img/img__ (12).jpg"); }
      .section__products .products .product--4 {
        background-image: url("../img/img__ (11).jpg"); }
        .section__products .products .product--4:hover {
          background-image: url("../img/img__ (7).jpg"); }
      .section__products .products .product__icons {
        display: inline-block;
        position: absolute;
        width: 3.2rem;
        height: 4.8rem;
        padding: 0.2rem 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
        top: 1.2rem;
        left: 1.2rem;
        background-color: rgba(241, 243, 245, 0.4); }
        .section__products .products .product__icons > * {
          cursor: pointer;
          width: 2rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-items: center;
          flex-wrap: nowrap; }
        .section__products .products .product__icons .product__icon:link,
        .section__products .products .product__icons .product__icon:visited {
          position: relative;
          text-decoration: none;
          color: #212529; }
          .section__products .products .product__icons .product__icon:link svg,
          .section__products .products .product__icons .product__icon:visited svg {
            height: 100%;
            width: 100%; }
          .section__products .products .product__icons .product__icon:link::after,
          .section__products .products .product__icons .product__icon:visited::after {
            display: none;
            position: absolute;
            background-color: rgba(241, 243, 245, 0.4);
            padding: 0.4rem 1.2rem;
            font-size: 1.2rem;
            font-weight: 500;
            z-index: 127;
            left: 30px;
            text-align: end;
            min-width: 95px;
            margin-right: -10px;
            clip-path: polygon(0% 50%, 10% 0%, 10% 0%, 100% 0%, 100% 100%, 10% 100%); }
        .section__products .products .product__icons .product__compare::after {
          width: 120px;
          content: "Compare Items"; }
        .section__products .products .product__icons .product__compare:hover::after {
          display: block; }
        .section__products .products .product__icons .product__like::after {
          content: "Add Favorite";
          color: #ce517d; }
        .section__products .products .product__icons .product__like:hover {
          fill: #ce517d; }
          .section__products .products .product__icons .product__like:hover::after {
            display: block; }
      .section__products .products .product__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        gap: 0.8rem;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%); }
        .section__products .products .product__buttons .product__button:link,
        .section__products .products .product__buttons .product__button:visited {
          text-decoration: none;
          color: #f1f3f5;
          background-color: rgba(206, 81, 125, 0.8);
          padding: 1.2rem 2.4rem;
          width: 15rem;
          height: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 300;
          font-style: italic;
          backface-visibility: hidden; }
          .section__products .products .product__buttons .product__button:link:hover,
          .section__products .products .product__buttons .product__button:visited:hover {
            background-image: linear-gradient(120deg, #c2255c, #da7c9d);
            color: #e9ecef; }
            .section__products .products .product__buttons .product__button:link:hover .front,
            .section__products .products .product__buttons .product__button:visited:hover .front {
              display: none; }
              .section__products .products .product__buttons .product__button:link:hover .front + .back,
              .section__products .products .product__buttons .product__button:visited:hover .front + .back {
                display: flex;
                visibility: visible;
                opacity: 1;
                transform: translateY(0); }
          .section__products .products .product__buttons .product__button:link .back,
          .section__products .products .product__buttons .product__button:visited .back {
            display: none;
            align-items: center;
            visibility: hidden;
            opacity: 0;
            transform: translateY(40px);
            transition: all 0.4s; }
            .section__products .products .product__buttons .product__button:link .back svg,
            .section__products .products .product__buttons .product__button:visited .back svg {
              width: 2rem;
              height: 2rem;
              fill: currentColor; }

.section__discount {
  background-color: #fefefe;
  padding: 8vh 8vw; }
  .section__discount .discount__box {
    display: grid;
    overflow: hidden;
    backface-visibility: hidden;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 45rem));
    grid-template-rows: repeat(auto-fit, minmax(max-content, 30rem));
    grid-auto-rows: repeat(auto-fit, minmax(10rem, 15rem));
    justify-content: space-between;
    gap: 3.2rem; }
    .section__discount .discount__box .img__box {
      position: relative;
      cursor: pointer; }
    .section__discount .discount__box .img__box--accessories .img__accessories {
      transition: all 0.4s;
      width: 100%;
      height: 120%; }
      .section__discount .discount__box .img__box--accessories .img__accessories:hover {
        filter: brightness(80%);
        transform: translateY(-10%); }
      .section__discount .discount__box .img__box--accessories .img__accessories:hover + .text__box {
        transform: translate(-50%, -90%); }
    .section__discount .discount__box .img__box--bag .img__bag {
      width: 100%;
      height: 100%; }
    .section__discount .discount__box .img__box--glasses .img__glasses {
      height: 120%;
      width: 100%;
      transform: translateY(-100px);
      transition: all 0.4s; }
      .section__discount .discount__box .img__box--glasses .img__glasses:hover {
        transform: rotate(3deg) scale(0.95); }
      .section__discount .discount__box .img__box--glasses .img__glasses:hover + .text__box {
        transform: translate(-50%, 90%); }

.text__box {
  display: flex;
  flex-direction: column;
  color: #fefefe;
  z-index: 127;
  filter: brightness(100%);
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: all 0.2s; }
  .text__box .small {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: -0.25px; }
  .text__box .big {
    text-transform: uppercase;
    font-size: 4.4rem; }

.section__description {
  background-color: #fefefe;
  padding: 8vh 8vw; }
  .section__description .description__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
    grid-template-rows: minmax(60rem, min-content);
    gap: 2.4rem;
    backface-visibility: hidden;
    overflow: hidden;
    justify-content: space-between; }
    .section__description .description__box .description {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-rows: minmax(25rem, 45rem) repeat(2, min-content);
      align-self: flex-start;
      overflow: hidden;
      backface-visibility: hidden;
      gap: 2.4rem;
      background-color: #f8f9fa;
      cursor: pointer; }
      .section__description .description__box .description .img__box {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden; }
        .section__description .description__box .description .img__box::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 2.4rem;
          top: 2.4rem;
          left: 2.4rem;
          right: 2.4rem;
          height: auto;
          width: auto;
          transform-origin: right bottom;
          z-index: 9999; }
      .section__description .description__box .description__img {
        display: block;
        position: absolute;
        width: 100%;
        top: -20px;
        left: 0;
        transition: all 0.4s;
        z-index: 9999; }
      .section__description .description__box .description__header {
        text-align: center;
        font-size: 2.4rem;
        margin-top: 1.8rem;
        text-transform: capitalize; }
      .section__description .description__box .description__text {
        padding: 0.6rem 3.2rem 3.2rem;
        line-height: 1.6;
        font-weight: 400; }
      .section__description .description__box .description:hover .img__box .description__img {
        transform: translateY(-120px);
        top: 20px; }
      .section__description .description__box .description:hover .img__box::after {
        transform: scaleX(100%);
        border: 2px solid #e9ecef; }

.footer {
  display: grid;
  background-color: #f1f3f5;
  padding: 6vh 8vw 8vh;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2.4rem;
  font-size: 1.4rem; }
  .footer__list {
    list-style: none;
    display: grid;
    gap: 1.6rem;
    justify-content: space-between; }
    .footer__list .footer__item .footer__link:link,
    .footer__list .footer__item .footer__link:visited {
      display: grid;
      grid-template-columns: 2.4rem 1fr;
      text-decoration: none;
      display: flex;
      color: currentColor; }
    .footer__list .footer__item .logo__link:link,
    .footer__list .footer__item .logo__link:visited {
      padding: 2.4rem 0 2.4rem; }
  .footer__information-link {
    text-decoration: none;
    color: currentColor;
    display: flex;
    align-items: center;
    text-align: end; }
  .footer__information-icon {
    height: 2.2rem;
    width: 2.2rem;
    display: inline-block;
    margin-right: 12px; }
  .footer__heading {
    font-size: 1.8rem;
    padding: 4.8rem 0 3.2rem; }

.subscribe__item {
  position: relative;
  margin-top: 2.4rem;
  display: flex;
  justify-content: end; }

.subscribe__input {
  display: block;
  width: 85%;
  height: 4.8rem;
  border-radius: 30px;
  padding: 1.2rem 1.8rem;
  overflow: visible;
  transition: all 0.4s; }

.subscribe__btn, .subscribe__btn:link, .subscribe__btn:visited {
  display: flex;
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  left: 66%;
  width: 35%;
  height: 100%;
  margin: 0;
  padding: 0.6rem 0.8rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 3; }

.subscribe__btn:active {
  left: 13%; }
