$color-primary-dark--2: #c2255c;
$color-primary-dark: #ce517d;
$color-primary: #d4668d;
$color-primary-light: #da7c9d;

$color-secondary-dark: #fab005;
$color-secondary: #ffec99;
$color-secondary-light: #fff3bf;
$color-secondary-light--2: #fff4c5;
$color-secondary-light--3: #fff9db;

$color-text: #fbf1f5;
$color-text-dark: #faeef2;

$color-black: #212529;
$color-grey-dark--2: #dee2e6;
$color-grey-dark: #e9ecef;
$color-grey: #f1f3f5;
$color-grey-light: #f8f9fa;
$color-grey-light--2: #fefefe;

$font-style-italic: "Libre Franklin";
$font-style-normal: "Fira Sans";

//Media Queries Breakpoints
$largest: 1200px;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-style-normal;
  color: $color-black;
  font-size: 1.6rem;
}
