.section__description {
  background-color: $color-grey-light--2;
  padding: 8vh 8vw;
  @media only screen and (max-width: $bp-big) {
    padding: 8vh 6vw;
  }

  .description__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
    grid-template-rows: minmax(60rem, min-content);
    gap: 2.4rem;
    backface-visibility: hidden;
    overflow: hidden;
    justify-content: space-between;

    .description {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-rows: minmax(25rem, 45rem) repeat(2, min-content);
      align-self: flex-start;
      overflow: hidden;
      backface-visibility: hidden;
      gap: 2.4rem;
      background-color: $color-grey-light;
      cursor: pointer;

      .img__box {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;

        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 2.4rem;
          top: 2.4rem;
          left: 2.4rem;
          right: 2.4rem;
          height: auto;
          width: auto;
          transform-origin: right bottom;
          z-index: 9999;
        }
      }

      &__img {
        display: block;
        position: absolute;
        width: 100%;
        top: -20px;
        left: 0;
        transition: all 0.4s;
        z-index: 9999;
      }

      &__header {
        text-align: center;
        font-size: 2.4rem;
        margin-top: 1.8rem;
        text-transform: capitalize;
      }

      &__text {
        padding: 0.6rem 3.2rem 3.2rem;
        line-height: 1.6;
        font-weight: 400;
      }

      &:hover {
        .img__box .description__img {
          transform: translateY(-120px);
          top: 20px;
        }

        .img__box::after {
          transform: scaleX(100%);
          border: 2px solid $color-grey-dark;
        }
      }
    }
  }
}
