.section__discount {
  background-color: $color-grey-light--2;
  padding: 8vh 8vw;

  .discount__box {
    display: grid;
    overflow: hidden;
    backface-visibility: hidden;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 45rem));
    grid-template-rows: repeat(auto-fit, minmax(max-content, 30rem));
    grid-auto-rows: repeat(auto-fit, minmax(10rem, 15rem));
    justify-content: space-between;
    gap: 3.2rem;

    .img__box {
      position: relative;
      cursor: pointer;
    }

    .img__box--accessories {
      .img__accessories {
        transition: all 0.4s;
        width: 100%;
        height: 120%;

        &:hover {
          filter: brightness(80%);
          transform: translateY(-10%);
        }

        &:hover + .text__box {
          transform: translate(-50%, -90%);
        }
      }
    }

    .img__box--bag {
      .img__bag {
        width: 100%;
        height: 100%;
      }
    }

    .img__box--glasses {
      .img__glasses {
        height: 120%;
        width: 100%;
        transform: translateY(-100px);
        transition: all 0.4s;

        &:hover {
          transform: rotate(3deg) scale(0.95);
        }

        &:hover + .text__box {
          transform: translate(-50%, 90%);
        }
      }
    }
  }
}

.text__box {
  display: flex;
  flex-direction: column;
  color: $color-grey-light--2;
  z-index: 127;
  filter: brightness(100%);
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: all 0.2s;

  .small {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: -0.25px;
  }
  .big {
    text-transform: uppercase;
    font-size: 4.4rem;
  }
}
