.footer {
  display: grid;
  background-color: $color-grey;
  padding: 6vh 8vw 8vh;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2.4rem;
  font-size: 1.4rem;

  &__list {
    list-style: none;
    display: grid;
    gap: 1.6rem;
    justify-content: space-between;

    .footer__item {
      .footer__link:link,
      .footer__link:visited {
        display: grid;
        grid-template-columns: 2.4rem 1fr;
        text-decoration: none;
        display: flex;
        color: currentColor;
      }
    }

    .footer__item {
      .logo__link:link,
      .logo__link:visited {
        padding: 2.4rem 0 2.4rem;
      }
    }
  }

  &__information {
    &-link {
      text-decoration: none;
      color: currentColor;
      display: flex;
      align-items: center;
      text-align: end;
    }

    &-icon {
      height: 2.2rem;
      width: 2.2rem;
      display: inline-block;
      margin-right: 12px;
    }
  }

  &__heading {
    font-size: 1.8rem;
    padding: 4.8rem 0 3.2rem;
  }
}

.subscribe {
  &__item {
    position: relative;
    margin-top: 2.4rem;
    display: flex;
    justify-content: end;
  }

  &__input {
    display: block;
    width: 85%;
    height: 4.8rem;
    border-radius: 30px;
    padding: 1.2rem 1.8rem;
    overflow: visible;
    transition: all 0.4s;
  }

  &__btn,
  &__btn:link,
  &__btn:visited {
    display: flex;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    left: 66%;
    width: 35%;
    height: 100%;
    margin: 0;
    padding: 0.6rem 0.8rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 3;
  }

  &__btn:active {
    left: 13%;
  }
}
