.section__hero {
  background-color: $color-grey-light--2;
  padding: 8rem 12rem;
  .hero {
    &__box {
      display: flex;
      height: 80vh;
      justify-content: space-between;
      align-items: center;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $font-style-italic;
    }

    &__tertiary {
      margin-bottom: 1.2rem;
      letter-spacing: 2px;
      font-size: 1.5rem;
    }

    &__primary {
      margin-bottom: 3.2rem;
      font-size: 4.4rem;
      letter-spacing: 1px;
    }

    &__img {
      height: 90%;
    }
  }
}
