.section__hero {
  background-color: $color-grey-light--2;
  padding: 4vh 8vw 8vh;
  width: 100%;
  @media only screen and (max-width: $bp-big) {
    padding: 8vh 6vw;
  }

  .hero {
    &__box {
      display: grid;
      justify-content: center;
      justify-items: center;
      grid-template-columns: max-content minmax(80rem, min-content);
      grid-template-rows: repeat(auto-fit, minmax(min-content, 60rem));
      justify-content: space-between;
      align-items: center;
      column-gap: 2.4rem;

      grid-auto-columns: minmax(90rem, max-content);
      grid-auto-rows: minmax(min-content, 90rem);

      @media only screen and (max-width: $bp-big) {
        grid-template-columns: max-content;
        justify-content: center;
        grid-template-rows: minmax(40rem, min-content);
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $font-style-italic;
      @media only screen and (max-width: $bp-big) {
        justify-self: start;
      }
    }

    &__tertiary {
      margin-bottom: 1.2rem;
      letter-spacing: 2px;
      font-size: 1.5rem;
    }

    &__primary {
      margin-bottom: 3.2rem;
      font-size: 4.4rem;
      letter-spacing: 1px;
    }

    &__img--box {
      height: 90%;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(8, 1fr);

      .hero__img {
        height: 100%;
        width: 100%;
        &--2 {
          grid-column: 5 / 8;
          grid-row: 1 / 6;
          z-index: 2;
        }

        &--1 {
          grid-column: 1 /6;
          grid-row: 2 / 9;
        }
      }
    }
  }
}
