.section__heading {
  width: 40%;
  margin: 3.2rem auto 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.6rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.2rem;
  font-style: italic;

  @media only screen and (max-width: $bp-medium) {
    width: 65%;
  }

  @media only screen and (max-width: $bp-small) {
    width: 80%;
  }

  &::after {
    content: "";
    display: block;
    height: 2px;
    background-color: $color-black;
    width: 100%;
  }

  &::before {
    content: "";
    display: block;
    height: 2px;
    background-color: $color-black;
    width: 100%;
  }
}

.section__heading--italic {
  font-style: italic;
  text-align: center;
  margin-top: 0.6rem;
  font-family: $font-style-italic;
  color: #aaa;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 5.2rem;
}

.btn {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    color: $color-grey;
    background-color: $color-black;
    padding: 1.6rem 2.8rem;
    align-self: flex-start;
    font-weight: 500;
    transition: all 0.3s;
    font-style: italic;
  }

  &--yellow:hover,
  &--yellow:active {
    background-image: linear-gradient(
      120deg,
      $color-secondary-dark,
      $color-secondary-light--3
    );

    color: #fff;
  }

  &--pink:hover,
  &--pink:active {
    font-style: italic;
    background-image: linear-gradient(
      120deg,
      $color-primary-dark--2,
      $color-primary-light
    );

    color: $color-grey;
  }

  &--round:link,
  &--round:visited {
    border-radius: 30px;
    padding: 1.6rem 4.8rem;
    margin: 6.4rem auto 0 auto;
  }
}

.logo {
  &__link:link,
  &__link:visited {
    font-style: italic;
    display: inline-block;
    font-size: 4.4rem;
    text-decoration: none;
    font-family: $font-style-italic;
    padding: 1.2rem 0rem;
    transition: 0.4s all;
    color: transparent;
    background-image: linear-gradient(
      120deg,
      $color-secondary-dark,
      $color-secondary-light--3
    );
    background-clip: text;
  }

  &__link:hover,
  &__link:active {
    background-image: linear-gradient(
      135deg,
      $color-secondary-dark,
      $color-secondary-light
    );
  }
}
